body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
.hero.is-success .title {
  color: #ADD8E6;
}

form {
    margin-top: 12px;

}#chat-messages li {
    padding: 12px;
}
.upload-area {
    border: 2px dashed #ADD8E6;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.hero-body {
    background-color: #fdf374
}

.container {
    color: #ADD8E6;
}
