langchain==0.0.352 
openai==0.27.7
fastapi==0.95.2 
uvicorn==0.22.0 
llama-cpp-python==0.1.55 
gpt4all==0.2.3 
python-dotenv==1.0.0 
langchain-experimental==0.0.43
unstructured[all-docs] # TOO LARGE!
pdf2image
pdfminer.six
faiss-cpu
tiktoken
tesseract
duckduckgo-search
